@media screen and (max-width: 768px) {
  .form__inputs{
    margin: auto;
  }
  .couriers__image {
    margin-right: 0;
}

}


@media (max-width: 1590px) {
  .couriers__image{
    img{
      width: 100%;
      max-width: 660px;
    }
  }
  }